*{
    margin:0px;
    padding:0px;
    }
    
    p{
        font-family:  Helvetica, sans-serif;
      
    }
    body{
    margin:0px;
    padding:0px;
    background-color: #b3b4b4;
    color:white;
    }
h2{
    font-size: 40px;
}
#encabezado{
    background-image:url(../img/encabezado2.jpg);


width:100% ;
background-color: rgb(255, 255, 255);
height:200px ;
display: block;
margin:auto;



}
#mar{
    height:35px ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
  
padding-top: 3px;
    background-color:#F34a0d;
}
#navegador{
background-color: grey;
text-align: right;
  
}
.menu-main{
    border-radius: 95%;
    text-align: right;  
    display:flex;
    justify-content: space-between;
   width: 100%;
    border-bottom: 1px solid #ffffff;
    height:60px;
    line-height: 30px;
    border-radius: 5px;   
    }
    
.menu-main ol{
  text-align: right;
    display: flex;
    padding-left: 500px;
    margin:0px;

    
    
    
    }
    .menu-main ol li{
        list-style: none;
        display: block;
       


        }
    .menu-main ol li a{
    font-family: arial;
    
    color:black;
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 15px 18px;
    text-align: center;
    }
    .menu-main a:hover{
    background-color:rgb(255, 62, 4);
    display: block;
    color: rgb(255, 255, 255);
 
    }
    .menu-main a.active{
    background-color: #0e213b;
    color: white;
   border-bottom: 3px solid rgb(0, 0, 0);
    }
#categoria{
    font-size: 18PT;
    margin-left: 60PX;
    margin-top: 35PX;
    border-left: 6PX SOLID violet;
}
#noticia1 h2{
    text-align: center;
    font-size: 40pt;
}
#noticia1{
background-color: white;
color: black;

padding: 30px 30px 30px 30px;
margin-bottom: 40px;   
width: 90%;
height: auto;
text-align: left;



margin-top: 10PX;
margin-left: 55px;
}
#noticia1 p{font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;}
#noticia1 img{
    width: 80%;
 padding-top: 50px;
display: block;
margin: auto;
}      

#noticia2{
    padding: 30px 30px 30px 30px;

    margin-bottom: 40px;   
    width: 90%;
    height: auto;
    background-color: white;
color: black;
  
    text-align: left;

    
    
    margin-top: 10PX;
    margin-left: 55px;
    }
    #noticia2 p{font-family: Arial, Helvetica, sans-serif;
        font-size: 20pt;}
    #noticia2 img{
        width: 350px;
        height: 265px;
        margin-right: 30px;
    
     
        float: left;
    }
    #noticia3{
        background-color: white;
        color: black;

        padding: 30px 30px 30px 30px;
margin-bottom: 40px;   
width: 90%;
        height: auto;
        text-align: left;
     
   
        
        margin-top: 10PX;
        margin-left: 55px;
        }
        #noticia3 p{font-family: Arial, Helvetica, sans-serif;
            font-size: 20pt;}
        #noticia3 img{
            width: 350px;
            height: 265px;
            margin-right: 30px;
        
           
            float: left;
        }
        #noticia4{
            padding: 30px 30px 30px 30px;
            margin-bottom: 40px;   
            width: 90%;
            height: auto;
            
            background-color: white;
            color: black;
            text-align: left;
           
       
            
            margin-top: 10PX;
            margin-left: 55px;
            }
            #noticia4 p{font-family: Arial, Helvetica, sans-serif;
                font-size: 20pt;}
            #noticia4 img{
                width: 350px;
                height: 265px;
                margin-right: 30px;
            
                
                float: left;
            }
        #noticia3bal{
            padding: 30px 30px 30px 30px;
            margin-bottom: 40px;   
            width: 90%;
            height: auto;
            
            background-color: white;
            color: black;
            text-align: left;
           
       
            
            margin-top: 10PX;
            margin-left: 55px;
            }
            #noticia3bal p{font-family: Arial, Helvetica, sans-serif;
                font-size: 20pt;}
            #noticia3bal img{
                width: 350px;
                height: 240px;
                margin-right: 30px;
            
                
                float: left;
            }
            #noticia2epo{
                padding: 30px 30px 30px 30px;
                margin-bottom: 40px;   
                width: 90%;
                height: auto;
                
                background-color: white;
                color: black;
                text-align: left;
               
           
                
                margin-top: 10PX;
                margin-left: 55px;
                }
                #noticia2epo p{font-family: Arial, Helvetica, sans-serif;
                    font-size: 20pt;}
                #noticia2epo img{
                    width: 350px;
                    height: 240px;
                    margin-right: 30px;
                
                    
                    float: left;
                }
                #noticia3new{
                    padding: 30px 30px 30px 30px;
                    margin-bottom: 40px;   
                    width: 90%;
                    height: auto;
                    
                    background-color: white;
                    color: black;
                    text-align: left;
                   
               
                    
                    margin-top: 10PX;
                    margin-left: 55px;
                    }
                    #noticia3new p{font-family: Arial, Helvetica, sans-serif;
                        font-size: 20pt;}
                    #noticia3new img{
                        width: 350px;
                        height: 240px;
                        margin-right: 30px;
                    
                        
                        float: left;
                    }
                    #noticia4new{
                        padding: 30px 30px 30px 30px;
                        margin-bottom: 40px;   
                        width: 90%;
                        height: auto;
                        
                        background-color: white;
                        color: black;
                        text-align: left;
                       
                   
                        
                        margin-top: 10PX;
                        margin-left: 55px;
                        }
                        #noticia4new p{font-family: Arial, Helvetica, sans-serif;
                            font-size: 20pt;}
                        #noticia4new img{
                            width: 350px;
                            height: 240px;
                            margin-right: 30px;
                        
                            
                            float: left;
                        }
            #noticia4bal{
                padding: 30px 30px 30px 30px;
                margin-bottom: 40px;   
                width: 90%;
                height: auto;
                
                background-color: white;
                color: black;
                text-align: left;
               
           
                
                margin-top: 10PX;
                margin-left: 55px;
                }
                #noticia4bal p{font-family: Arial, Helvetica, sans-serif;
                    font-size: 20pt;}
                #noticia4bal img{
                    width: 350px;
                    height: 240px;
                    margin-right: 30px;
                
                    
                    float: left;
                }
            #noticia5bal{
                padding: 30px 30px 30px 30px;
                margin-bottom: 40px;   
                width: 90%;
                height: auto;
                
                background-color: white;
                color: black;
                text-align: left;
               
           
                
                margin-top: 10PX;
                margin-left: 55px;
                }
                #noticia5bal p{font-family: Arial, Helvetica, sans-serif;
                    font-size: 20pt;}
                #noticia5bal img{
                    width: 350px;
                    height: 233px;
                    margin-right: 30px;
                
                    
                    float: left;
                }
                
            #noticia5{
                background-color: white;
                color: black;

                padding: 30px 30px 30px 30px;
                margin-bottom: 40px;   
                width: 90%;
                height: auto;
                text-align: left;
             
                 
                margin-top: 10PX;
                margin-left: 55px;
                }
                #noticia5 p{font-family: Arial, Helvetica, sans-serif;
                    font-size: 20pt;}
                #noticia5 img{
                    width: 350px;
                    height: 265px;
                    margin-right: 30px;
                
                  
                    float: left;
                }
                #footer{
                    width: 100%;
                    height: 100px;
                    background-color: #0e213b;
                    text-align: center;
color: white;
padding-top: 2%;
                }



@media (max-width: 1300px) {

    .menu-main {
        width: 100%;
    height: auto;
    border-bottom: 0px;
    display: block;
    }
    
   #noticia1,#noticia2,#noticia3,#noticia4,#noticia5,#noticia5bal,#noticia4new,#noticia3new,#noticia4bal,#noticia3bal,#noticia2epo{
       margin-left: 20px;
       height: auto;
   }


   #noticia5ba img{
width: 100%;

}

        
    .menu-main ol{
        display: block;
        padding-left: 0px;
    }
   
    .menu-main a{
    height: 30px;
    border-bottom: 1px solid #29487d;
    }

    
   }
   
   #formulario{
    background: rgba(243,74,13,1);
    background: -moz-linear-gradient(top, rgba(243,74,13,1) 12%, rgba(243,74,13,1) 47%, rgba(243,74,13,1) 53%, rgba(255,104,10,1) 54%);
    background: -webkit-gradient(left top, left bottom, color-stop(12%, rgba(243,74,13,1)), color-stop(47%, rgba(243,74,13,1)), color-stop(53%, rgba(243,74,13,1)), color-stop(54%, rgba(255,104,10,1)));
    background: -webkit-linear-gradient(top, rgba(243,74,13,1) 12%, rgba(243,74,13,1) 47%, rgba(243,74,13,1) 53%, rgba(255,104,10,1) 54%);
    background: -o-linear-gradient(top, rgba(243,74,13,1) 12%, rgba(243,74,13,1) 47%, rgba(243,74,13,1) 53%, rgba(255,104,10,1) 54%);
    background: -ms-linear-gradient(top, rgba(243,74,13,1) 12%, rgba(243,74,13,1) 47%, rgba(243,74,13,1) 53%, rgba(255,104,10,1) 54%);
    background: linear-gradient(to bottom, rgba(243,74,13,1) 12%, rgba(243,74,13,1) 47%, rgba(243,74,13,1) 53%, rgba(255,104,10,1) 54%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34a0d', endColorstr='#ff680a', GradientType=0 );
padding: 30px;

 width: 45%;
 margin: auto;
 margin-top: 250px;
border: 100px solid #0e213b;

 border-radius: 5px;

}
#formulario p{
    text-decoration: none;
    height: 40px;
    text-align: center;
    font-size: 20px;
}
#formulario a{
    text-decoration: none;
color: white;
}
#formulario a:hover{
    text-decoration: underline;
color: #0e213b;
}
.textbox{

 width: 100%;
 padding: 10px;
 margin-bottom: 35px;
 border-radius: 4px;
 border: 3px solid rgb(235, 147, 5);
 
 

}
.boton{
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0px;
    font-size: 20px;
    background-color: turquoise;
}
.boton:hover{
    background-color: rgb(0,0,001,01);

 
}
#footersus{
margin-top: 300px;
height: 140px;
    text-align: center;
    font-size: 40px;
    width: 100%;
 background-color: #0e213b;
}
#footersus p{
    padding-top: 20px;

}
#fechas{
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
} 